html {
  height: 100vh;
  width: 96vw;
}
footer {
  background-color: rgb(155, 150, 150);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
body {
  height: fit-content;
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 97% 3%;
}
main {
  height: 100%;
  width: 100%;
  background-color: rgb(230, 227, 227);
}

div {
  margin: 0;
  padding: 0;
}

label {
  font-weight: bold;
}

button {
  background-color: hsl(224, 64%, 21%);
  color: white;
}

button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 4px hsla(5, 9%, 27%, 0.695);
  background-image: linear-gradient(
    to right,
    hsl(354, 100%, 67%),
    hsl(4, 100%, 67%),
    hsl(15, 100%, 67%)
  );
}
